<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration 
    PUBLIC "-//LOG4J//DTD LOG4J//EN"
    "https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration>
    <appender name="STDOUT"
        class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p [%t] %m%n" />
        </layout>
    </appender>
    <!-- name属性指定要记录的包 additivity="false" 表示不将日志发送到根日志 -->
    <logger name="demo.logpackage" additivity="false">
        <level value="DEBUG"></level>
        <appender-ref ref="stdout" />
    </logger>
</log4j:configuration>
