<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration
    PUBLIC "-//LOG4J//DTD LOG4J//EN"
    "https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration>
    <appender name="DB"
        class="org.apache.log4j.jdbc.JDBCAppender">
        <param name="driver" value="com.mysql.cj.jdbc.Driver" />
        <param name="URL"
            value="jdbc:mysql://localhost:3306/DBNAME?serverTimezone=UTC&amp;characterEncoding=UTF-8" />
        <param name="user" value="root" />
        <param name="password" value="root" />
        <!-- <param name="sql" value="insert into logs(user_id,date_time,logger,level,message) 
            values ('%x','%d','%C','%p','%m')" /> -->

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="insert into logs(user_id,date_time,logger,level,message) values ('%x','%d{yyyy-MM-dd HH:mm:ss}','%C','%p','%m')" />
        </layout>
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="DB" />
    </root>
</log4j:configuration>
